# Building the model

In [2]:
# dataset from kaggle
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
ufos = pd.read_csv("/content/ufo_sighting_data.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
ufos.head()

          Date_time                  city  ...    latitude   longitude
0  10/10/1949 20:30            san marcos  ...  29.8830556  -97.941111
1  10/10/1949 21:00          lackland afb  ...    29.38421  -98.581082
2  10/10/1955 17:00  chester (uk/england)  ...        53.2   -2.916667
3  10/10/1956 21:00                  edna  ...  28.9783333  -96.645833
4  10/10/1960 20:00               kaneohe  ...  21.4180556 -157.803611

[5 rows x 11 columns]

In [4]:
# converting the data frame with fresh titles
ufos = pd.DataFrame({'Seconds': ufos['length_of_encounter_seconds'], 'Country': ufos['country'], 'Latitude': ufos['latitude'], 'Longitude': ufos['longitude']})
ufos.head()

  Seconds Country    Latitude   Longitude
0    2700      us  29.8830556  -97.941111
1    7200     NaN    29.38421  -98.581082
2      20      gb        53.2   -2.916667
3      20      us  28.9783333  -96.645833
4     900      us  21.4180556 -157.803611

In [5]:
# remove missing values 
ufos.dropna(inplace=True)

In [6]:
# cleaning the messy data
ufos['Seconds'] = ufos['Seconds'].replace({'2`':'2','8`':'8'})

In [7]:
# converting string to integer
ufos['Seconds'] = pd.to_numeric(ufos['Seconds'])

In [8]:
dtyp = ufos.dtypes
print(dtyp)

Seconds      float64
Country       object
Latitude      object
Longitude    float64
dtype: object

In [9]:
# get seconds <=60 seconds
ufos = ufos[(ufos['Seconds'] >= 1) & (ufos['Seconds'] <= 60)]

In [17]:
ufos.head()

    Seconds  Country    Latitude   Longitude
2      20.0        3        53.2   -2.916667
3      20.0        4  28.9783333  -96.645833
14     30.0        4  35.8238889  -80.253611
23     60.0        4  45.5827778 -122.352222
24      3.0        3   51.783333   -0.783333

In [11]:
# changing the country's name to numeric
from sklearn.preprocessing import LabelEncoder
ufos['Country'] = LabelEncoder().fit_transform(ufos['Country'])
ufos.head()

    Seconds  Country    Latitude   Longitude
2      20.0        3        53.2   -2.916667
3      20.0        4  28.9783333  -96.645833
14     30.0        4  35.8238889  -80.253611
23     60.0        4  45.5827778 -122.352222
24      3.0        3   51.783333   -0.783333

In [13]:
# splitting the dataset
from sklearn.model_selection import train_test_split
Selected_features = ['Seconds','Latitude','Longitude']

X = ufos[Selected_features]
y = ufos['Country']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [14]:
# train model using logistic regression
from sklearn.linear_model import LogisticRegression
model  = LogisticRegression()
model.fit(X_train, y_train)
predictions = model.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [15]:
# checing the metrics
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       1.00      0.98      0.99        41
           1       0.84      0.26      0.40       250
           2       0.88      0.88      0.88         8
           3       0.99      1.00      1.00       131
           4       0.96      1.00      0.98      4743

    accuracy                           0.96      5173
   macro avg       0.93      0.82      0.85      5173
weighted avg       0.96      0.96      0.95      5173

# Pickle

In [ ]:
# saving and downloading our model
import pickle
model_filename = 'ufo-model.pkl'
pickle.dump(model, open(model_filename, 'wb'))
# Okay, u might wonder what is wb, it is write in binary.
#w-write & b-binary because by default open() opens a file as text

In [ ]:
import pickle
# load pickle
model = pickle.load(open('ufo-model.pkl', 'rb'))
print(model.predict([[50,44,-12]]))
# here, rb = read binary

[3]